body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the canvas stays in the background */
}

#goal {
  display: none;
}

#goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px; 
  z-index: 10;
}

#goBack:hover {
  background: #333;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

div {
  max-width: 1500px;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  width: 800px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 30px;
  margin-top: 10px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

li {
  margin-bottom: 35px;
  width: 100%;
  box-sizing: border-box;
}

details {
  background: #ffffff;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

summary {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

p {
  margin: 10px 0 0;
  font-size: 1em;
  background: white;

}

a:hover {
  text-decoration: none;
}

a {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

a img {
  margin-right: 10px;
  height: 40px; /* Adjust the height to fit better */
  width: 40px; /* Adjust the width to fit better */
}


/* EXPERIENCE */

#experience {
  background: rgba(40, 167, 69, 0.5);
}

#experience a {
  color: #28a745;
  text-decoration: none;
}

#experience details summary:hover {
  color: #28a745;
}

/* LINKS */

#links {
  background: rgba(0, 123, 255, 0.5);
}

#links a {
  color: black;
  text-decoration: none;
  background: white;
  padding: 10px;
  border-radius: 20px;
}

#links p {
  color: black;
  text-decoration: none;
  background: white;
  padding: 10px;
  border-radius: 20px;
}

#links a:hover {
  color: #007bff;
}

#links details summary:hover {
  color: #007bff;
}

#links a {
  display: block;
}

/* ABOUT */

#about {
  background: rgba(220, 53, 69, 0.5);
}

#about p {
  color: black;
  border-radius: 20px;
  padding: 10px;
}

/* SKILLS */

#skills {
  background: rgba(111, 66, 193, 0.5);
}

#skills details summary:hover {
  color: #6f42c1;
}

#skills p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* PROJECTS */

#projects {
  background: rgba(253, 126, 20, 0.5);
}

#projects details summary:hover {
  color: #fd7e14;
}

#projects details a {
  display: block;
  margin-top: 5px;
}

#projects a {
  color: #fd7e14;
}

#footer-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

#footer-icons a {
  width: auto;
  padding: 0;
  background: none;
  border-radius: 0;
}

#footer-icons a img {
  margin-right: 0;
  height: 40px;
  width: 40px;
}
