@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 100% of the viewport height */
    background-image: url('../images/FirstPage.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#questionNumber {
    position: absolute;  /* Positions the button relative to the nearest positioned ancestor */
    top: 30px;           /* 10px from the top of the viewport */
    right: 60px;          /* 10px from the left side of the viewport */
    font-family: 'Bubblegum Sans', sans-serif; /* Fallback font added */
}

#gameSection {
    display: grid;
    grid-template-columns: repeat(2, 200px); /* Creates 2 columns, each 100px wide */
    grid-gap: 60px; /* Space between buttons */
    padding: 20px;
    border-radius: 10px; /* Optional rounded corners */
    font-family: 'Bubblegum Sans', sans-serif; /* Fallback font added */
}

#question {
    grid-column: 1 / -1; /* This will make h1 span all columns */
    text-align: center; /* Center the text horizontally */
    margin-top: -60px; /* This will move the h1 element up */
}

button {
    width: 200px; /* Width of each button */
    height: 200px; /* Height of each button, making it square */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable item */
    border: none; /* No border for a cleaner look */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for 3D effect */
    transition: transform 0.2s; /* Smooth transform on click */
    font-family: 'Bubblegum Sans', sans-serif; /* Fallback font added */
    font-size: xx-large;
}

button:active {
    transform: scale(0.95); /* Slightly shrink button when clicked */
}

button:disabled {
    transform: scale(1);
    cursor: no-drop;
}

#resultDivBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 100; /* High enough to be on top of other content */
    display: none;  /* Initially hidden */
}

#resultDiv {
    width: auto; /* or specify a width, e.g., 50% */
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Optional shadow for 3D effect */
    color: black;
    font-size: 24px;
    font-family: 'Bubblegum Sans', sans-serif;
    text-align: center; /* Ensure text is centered within the div */
    border-radius: 10px; /* Optional rounded corners */
}
